footer{
    height: 60px;
    background-color: #fff;
    width: 100%;
    border-top :1px solid #CCCCCC;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
